$browserPrefixes: '-webkit-' '-moz-' '-o-' '';

body, * {
  margin: 0;
  padding: 0;
  font-size: 100%; }

body {
  font-size: 12px; }

$baseColor: #8C184E;

.colors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.color-block {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 200%;
    line-height: 1;
    transition: all .3s ease;
}

@mixin setColors($blockColor) {
    background-color: $blockColor;
    color: getTextColor($blockColor);
}

@function getTextColor($background) {
    @if (lightness($background) > 50) {
        @return darken($background, 60%); // Lighter backgorund, return dark color
    } @else {
        @return lighten($background, 60%); // Darker background, return light color
    }
}

.base {
    @include setColors($baseColor);
}
.dark {
    $blockColor: darken($baseColor, 20%);
    @include setColors($blockColor);
}
.dull {
    $blockColor: desaturate($baseColor, 30%);
    @include setColors($blockColor);
}
.light {
    $blockColor: lighten($baseColor, 30%);
    @include setColors($blockColor);
}
.bright {
    $blockColor: saturate($baseColor, 30%);
    @include setColors($blockColor);
}
.contrast {
    $blockColor: adjust-hue($baseColor, 180deg);
    @include setColors($blockColor);
}

@mixin animate($settings...) {
    @each $browser in $browserPrefixes {
        @each $prop in $settings {
            #{$browser}animation-#{nth($prop, 1)}: nth($prop, 2);
        }
    }
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

$bannerAnimation: flyout;

/* Initial styles for the banner */
#banner {
    width: 300px;
    height: 100px;
    background: aqua;
    position:fixed;
    bottom:-110px;
    z-index:9999;
    right:80px;
    @include animate(
        'name' $bannerAnimation,
        'duration' 5s,
        'timing-function' linear,
        'delay' 1s,
        'iteration-count' 1,
        'direction' normal,
        'play-state' running,
        'fill-mode' forwards);
}
@include keyframes($bannerAnimation) {
    0% {
      bottom: -110px;
    }
    40% {
      bottom: 0px;
    }
    60% {
      bottom: 0px;
    }
    100% {
      bottom: -110px;
    }
}


